URxvt.background: rgba:1111/1111/1111/dddd
URxvt.foreground: white
URxvt.borderLess: false
URxvt.transparent: true
URxvt.shading: 20
URxvt.font: xft:Inconsolata:size=14
URxvt.scrollBar: false
URxvt.color12: #9999ff
URxvt.fading: 80
URxvt.fadeColor: gray
URxvt.saveLines: 5000
URxvt.internalBorder: 5
URxvt.pointerColor: black
URxvt.pointerColor2: white
URxvt.perl-ext-common: default,url-select,font-size
URxvt.url-select.underline: true
URxvt.keysym.C-equal:  perl:font-size:incglobal
URxvt.keysym.C-minus:  perl:font-size:decglobal
URxvt.iso14755: false
URxvt.keysym.C-i: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
