!URxvt.background: rgba:0000/0000/0000/dddd
!Install urxvt-font-size-git from AUR
URxvt.foreground: white
URxvt.borderLess: false
URxvt.transparent: true
URxvt.shading: 30
URxvt.font: xft:Inconsolata:size=20
URxvt.scrollBar: false
URxvt.color12: #9999ff
URxvt.fading: 50
URxvt.fadeColor: gray
URxvt.saveLines: 5000
URxvt.internalBorder: 5
URxvt.pointerColor: black
URxvt.pointerColor2: white
URxvt.perl-ext-common: default
URxvt.url-select.underline: true
URxvt.keysym.C-equal:  font-size:incglobal
URxvt.keysym.C-minus:  font-size:decglobal
URxvt.iso14755: false
!URxvt.url-launcher: /usr/bin/xdg-open
!URxvt.matcher.button: 1
