URxvt.background: rgba:1111/1111/1111/dddd
URxvt.foreground: rgb:9999/dddd/ffff
URxvt.borderLess: false
URxvt.transparent: true
URxvt.shading: 100
URxvt.font: xft:Inconsolata:size=12
URxvt.scrollBar: false
URxvt.fading: 30
URxvt.fadeColor: black
URxvt.saveLines: 5000
URxvt.internalBorder: 5
URxvt.pointerColor: red
URxvt.pointerColor2: black
URxvt.perl-ext-common: default,url-select,font-size
URxvt.url-select.underline: true
URxvt.keysym.C-equal:  perl:font-size:incglobal
URxvt.keysym.C-minus:  perl:font-size:decglobal
URxvt.iso14755: false
URxvt.keysym.C-i: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
